<div class="container" id="signup_img_container">
  <div id="signup_container">
    <h2>Sign up</h2>

    <%= form_for @user, url: user_registration_path do |f| %>


      <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

      <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>

      <div><%= f.submit "Sign up" %></div>
    <% end %>

  </div>
</div>